

@media all and (min-width: 390px) and (max-width:1010px) {
    

     .navBarRes{
        display: block;
    }

    .navBox{
        display : block;
    }

    .main {
        display : none;
    }

    .displayHam{
        display : block;
    }


    
  }